.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/.idea/
/.vscode/
/.phpunit.cache/
.phpunit.result.cache
Thumbs.db
.DS_Store
*.log
/docs/local-demo-access.md
/application/.env.*
!/application/.env.example
/application/database/*.sqlite*
/application/storage/app/**
!/application/storage/app/.gitignore
!/application/storage/app/private/
!/application/storage/app/private/.gitignore
!/application/storage/app/public/
!/application/storage/app/public/.gitignore
/application/storage/framework/testing/**
